.container-fluid
    .row
        .col-md-10.col-md-offset-1
            h1 Time Manager
            table.table.table-striped.table-bordered.table-hover.table-condensed
                thead
                    th #
                    th Code
                    th Status
                    th Enter Time
                    th Exit Time
                    th Duration (minutes)
                    th Price
                tbody
                    tr(ng-repeat="card in data | orderBy:['isOnline','updatedAt']:true")
                        td {{$index+1}}
                        td {{card.code}}
                        td
                            .label(ng-class="{'true':'label-success','false':'label-default'}[card.isOnline]")
                                | {{ {'true':'Online', 'false':'Offline'}[card.isOnline] }}
                        td {{card.timeEnter | amDateFormat:'HH:mm:ss (MMMM D YYYY)'}}
                        td {{card.timeExit | amDateFormat:'HH:mm:ss (MMMM D YYYY)'}}
                        td
                            .label(ng-class="{'true':'label-success','false':'label-default'}[card.isOnline]")
                                | {{card.durationInMinutes}}
                        td
                            .label(ng-class="{'true':'label-success','false':'label-info'}[card.isOnline]")
                                | {{card.price}}
