doctype html
html(lang="en" ng-app="NRTC")
   head
      meta(charset='utf-8')
      title Time Manager
      <!-- inject:css --> <!-- endinject -->
   body
      nrtc
      <!-- inject:js --> <!-- endinject -->