.container-fluid
    .row
        .col-md-10.col-md-offset-1

            .row
                .col-md-12
                    h1
                        span.pull-left Time Manager
                        button.btn.btn-primary.pull-right(ng-click="editMode=!editMode") Edit Mode

            table.table.table-striped.table-bordered.table-hover.table-condensed
                thead
                    th #
                    th Code
                    th Status
                    th Enter Time
                    th Exit Time
                    th Duration (minutes)
                    th Price
                    th(ng-if="editMode") Action
                tbody
                    tr(ng-repeat="log in logs | orderBy:['isOnline','updatedAt']:true")
                        td {{$index+1}}
                        td {{log.parentId}}
                        td
                            .label(ng-class="{'true':'label-success','false':'label-default'}[log.isOnline]")
                                | {{ {'true':'Online', 'false':'Offline'}[log.isOnline] }}
                        td {{log.enterTime | amDateFormat:'HH:mm:ss (MMMM D YYYY)'}}
                        td {{log.exitTime | amDateFormat:'HH:mm:ss (MMMM D YYYY)'}}
                        td
                            .label(ng-class="{'true':'label-success','false':'label-default'}[log.isOnline]")
                                | {{log.durationInMinutes}}
                        td
                            .label(ng-class="{'true':'label-success','false':'label-info'}[log.isOnline]")
                                | {{log.price}}
                        td(ng-if="editMode")
                            button.btn.btn-danger(ng-click="logDelete(log.id)") Delete
